@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Jays Travels Back End System</h1>
    <p>Main Site <a href="https://jaystravels.co.uk">Go to main Site... jaystravels.co.uk</a>.</p>
</div>
